.text-default-bright {
  color: #ffffff;
}

a.text-default-bright:hover {
  color: #e6e6e6;
}

.text-default-light {
  color: #969c9c;
}

a.text-default-light:hover {
  color: #7c8383;
}

.text-default {
  color: #313534;
}

a.text-default:hover {
  color: #191a1a;
}

.text-default-dark {
  color: #20252b;
}

a.text-default-dark:hover {
  color: #0a0c0e;
}

.text-primary-bright {
  color: #caf0ee;
}

a.text-primary-bright:hover {
  color: #a2e5e1;
}

.text-primary-light {
  color: #7dd8d2;
}

a.text-primary-light:hover {
  color: #56cdc5;
}

.text-primary {
  color: #0aa89e;
}

a.text-primary:hover {
  color: #077871;
}

.text-primary-dark {
  color: #066265;
}

a.text-primary-dark:hover {
  color: #033334;
}

.text-accent-bright {
  color: #e9c9ef;
}

a.text-accent-bright:hover {
  color: #d9a1e3;
}

.text-accent-light {
  color: #c77bd4;
}

a.text-accent-light:hover {
  color: #b755c8;
}

.text-accent {
  color: #9c27b0;
}

a.text-accent:hover {
  color: #771e86;
}

.text-accent-dark {
  color: #681a7f;
}

a.text-accent-dark:hover {
  color: #461155;
}

.text-info {
  color: #2196f3;
}

a.text-info:hover {
  color: #0c7cd5;
}

.text-warning {
  color: #ff9800;
}

a.text-warning:hover {
  color: #cc7a00;
}

.text-danger {
  color: #f44336;
}

a.text-danger:hover {
  color: #ea1c0d;
}

.text-success {
  color: #4caf50;
}

a.text-success:hover {
  color: #3d8b40;
}
